.btn-blue{
	position: relative;
	overflow: hidden;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 0 50 * $vp;
   	border: 1px solid $color-blue;
   	background: $color-blue;
    padding: 10 * $vp 30 * $vp;
    outline: none; 
    transition: ease .2s;
    width: 100%;
    height: 145 * $vp;
    color: #fff;
    font-size: 21 * $vp;
    font-weight: 700;
    span{
    	display: block;
    	width: 100%;
    	position: relative;
    	z-index:5;
    	color: #FFF;
    	&:after{
    		content:'';
    		background: url('/assets/img/arrow-circle.svg') no-repeat;
    		background-size: 100%;
    		width: 71 * $vp;
    		height: 71 * $vp;
    		display: block;
    		position: absolute;
    		right: 0;
    		top: 0;
    		bottom: 0;
    		margin: auto;
    	}
    }
    &:before{
    	content: '';
    	position: absolute;
    	top: 0;
    	left: 0;
    	z-index: 2;
    	background:#fff;/*背景色*/
    	width: 100%;
    	height: 100%;
    	transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    	transform: scale(0, 1);
    	transform-origin: right top;
    }
    &:hover{
    	text-decoration: none;
    	span{
    		color: $color-blue;
    		&:after{
	    		content:'';
	    		background: url('/assets/img/arrow-circle-b.svg') no-repeat;
	    		background-size: 100%;
	    		width: 71 * $vp;
	    		height: 71 * $vp;
	    		display: block;
	    		position: absolute;
	    		right: 0;
	    		top: 0;
	    		bottom: 0;
	    		margin: auto;
	    	}
    	}
    	&:before{
    		transform-origin:left top;
    		transform:scale(1, 1);
    	}
    }
    &.size-mid{
    	height: 105 * $vp;
    	span{
    		&:after{
    			width: 51 * $vp;
    			height: 51 * $vp;
    		}
    	}
    	&:hover{
    		span{
    			&:after{
    				width: 51 * $vp;
    				height: 51 * $vp;
    			}
    		}
    	}
    }
}
.btn-orange{
	position: relative;
	overflow: hidden;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 0 50 * $vp;
   	border: 1px solid $color-orange;
   	background: $color-orange;
    padding: 10 * $vp 30 * $vp;
    outline: none; 
    transition: ease .2s;
    width: 100%;
    height: 145 * $vp;
    color: $color-blue;
    font-size: 21 * $vp;
    font-weight: 700;
    span{
    	display: block;
    	width: 100%;
    	position: relative;
    	z-index:5;
    	color: $color-blue;
    	&:after{
    		content:'';
    		background: url('/assets/img/arrow-circle-b.svg') no-repeat;
    		background-size: 100%;
    		width: 71 * $vp;
    		height: 71 * $vp;
    		display: block;
    		position: absolute;
    		right: 0;
    		top: 0;
    		bottom: 0;
    		margin: auto;
    	}
    }
    &:before{
    	content: '';
    	position: absolute;
    	top: 0;
    	left: 0;
    	z-index: 2;
    	background:#fff;/*背景色*/
    	width: 100%;
    	height: 100%;
    	transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    	transform: scale(0, 1);
    	transform-origin: right top;
    }
    &:hover{
    	text-decoration: none;
    	span{
    		color: $color-blue;
    		&:after{
	    		content:'';
	    		background: url('/assets/img/arrow-circle-b.svg') no-repeat;
	    		background-size: 100%;
	    		width: 71 * $vp;
	    		height: 71 * $vp;
	    		display: block;
	    		position: absolute;
	    		right: 0;
	    		top: 0;
	    		bottom: 0;
	    		margin: auto;
	    	}
    	}
    	&:before{
    		transform-origin:left top;
    		transform:scale(1, 1);
    	}
    }
    &.size-mid{
    	height: 80 * $vp;
    	font-size: 19 * $vp;
    	span{
    		&:after{
    			width: 29 * $vp;
    			height: 29 * $vp;
    		}
    	}
    	&:hover{
    		span{
    			&:after{
    				width: 29 * $vp;
    				height: 29 * $vp;
    			}
    		}
    	}
    }
}
.btn-wh{
	width: 100%;
	height: 95 * $vp;
	background: #FFF;
	color: $color-blue;
	font-weight: 700;
	font-size: 30 * $vp;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s;
	cursor: pointer;
	&:hover{
		text-decoration: none;
		background: $color-orange;
	}
}
.btn-gr{
	width: 100%;
	height: 95 * $vp;
	background: #ccc;
	color:#000;
	font-weight: 700;
	font-size: 30 * $vp;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s;
	cursor: pointer;
	&:hover{
		text-decoration: none;
		background: #888;
	}
}