.lpHeader{
	width: 190 * $vp;
	position: fixed;
	top: 0;
	left: 0;
	z-index:10000;
	h1{
		width: 190 * $vp;
		height: 190 * $vp;
		background: #FFF;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}