.recruitLp{
	.recruitHead{
		position: relative;
		font-weight: 700;
		.recruitHead__image{
			img{
				width: 100%;
				height: 100%;
			}
		}
		.recruitHead__content{
			display: flex;
			justify-content: center;
			position: relative;
			z-index:10;
			position: absolute;
			top: 200 * $vp;
			left: 0;
			right: 0;
			margin: auto;
			.recruitHead-box{
				width: 50%;
				label{
					display: block;
					margin-bottom: 85 * $vp;
					margin-left: 50 * $vp;
				}
				.recruitHead-correct{
					width: 520 * $vp;
					background: $color-blue;
					padding: 50 * $vp 50 * $vp 30 * $vp 50 * $vp;
					display: block;
					.correct__inner{
						color: $color-orange;
					}
					.correct-area{
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
						li{
							width: 87 * $vp;
							height: 35 * $vp;
							display: flex;
							align-items: center;
							justify-content: center;
							color: $color-blue;
							background: #FFF;
							margin-bottom: 20 * $vp;
						}
					}
					a{
						color: $color-orange;
						display: block;
						position: relative;
						font-size: 19 * $vp;
						line-height: 1.6;
						strong{
							font-size: 76 * $vp;
							display: block;
							margin-top: -15 * $vp;
						}
						&:after{
							content:'';
				    		background: url('/assets/img/arrow-circle.svg') no-repeat;
				    		background-size: 100%;
				    		width: 87 * $vp;
				    		height: 87 * $vp;
				    		display: block;
				    		position: absolute;
				    		right: 0;
				    		top: 0;
				    		bottom: 0;
				    		margin: auto;
				    		transition: .3s;
						}
						&:hover{
							text-decoration: none;
							&:after{
								right: -20px;
							}
						}
					}
				}
				.recruitHead-description{
					width: 445 * $vp;
					margin: 0 auto;
					padding-top: 35 * $vp;
					.description-head{
						font-size: 20 * $vp;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						margin-bottom: 30 * $vp;
						span{
							display: inline-flex;
							color: #FFF;
							background: $color-blue;
							padding: 6 * $vp 10 * $vp;
							margin: 5 * $vp 0;
						}
					}
					.description-main{
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						span{
							font-size: 56 * $vp;
							display: inline-flex;
							background: $color-orange;
							margin-bottom: 15 * $vp;
							padding: 15 * $vp 25 * $vp;
							color: $color-blue;
						}
					}
				}
			}
		}
	}
	.recruitSpirit{
		background: url('/assets/img/bg-ourspirit.png') center bottom;
		background-size: 100% auto;
		height: 1470 * $vp;
		padding: 165 * $vp 0 0 0;
		position: relative;
		font-weight: 700;
		h2{
			text-align: center;
			width: 981 * $vp;
			height: 144 * $vp;
			position: absolute;
			top: -50 * $vp;
			left: 0;
			right: 0;
			margin: auto;
		}
		p{
			line-height: 2.3;
			font-size: 18 * $vp;
			margin-bottom: 40 * $vp;
		}
		.recruitSpirit-btn{
			width: 325 * $vp;
		}
		.recruitSpirit__image{
			width: 100%;
			img{
				width: 100%;
			}
		}
	}
	.recruitAchievement{
		background: $color-blue;
		color: #FFF;
		padding: 90 * $vp 0 265 * $vp 0;
		font-weight: 700;
		.recruitAchievement__inner{
			display: flex;
			.recruitAchievement-colL{
				width: 800 * $vp;
				padding-right: 35 * $vp;
				border-right: 1px solid #fff;
			}
			.recruitAchievement-colR{
				width: 500 * $vp;
				padding-left: 35 * $vp;
			}
			.achievement-boxLarge{
				width: 100%;
				border-bottom: 1px solid #fff;
				padding: 40 * $vp 0 60 * $vp;
				margin-bottom: 40 * $vp;
				&.is-noMargin{
					padding-bottom: 0;
				}
				&.is-autoHeight{
					height: 400 * $vp;
				}
				&.is-noBorder{
					border-bottom: 0;
					padding-top: 30 * $vp;
					margin-bottom: 0;
					padding-bottom: 0;
				}
				p{
					text-align: center;
					font-size: 15 * $vp;
					margin-top: 15 * $vp;
				}
			}
			.achievement-boxSmall{
				width: 50%;
				width: 100%;
				padding: 30 * $vp 0 60 * $vp;
				&:first-child{
					border-right: 1px solid #fff;
				}
			}
			.achievement-col{
				display: flex;
				.achievement-box{
					width: calc(100% / 3);
				}
			}
			.achievement-colS{
				display: flex;
			}
			.achievement-box{
				text-align: center;
				label{
					display: block;
					font-size: 24 * $vp;
					margin-bottom: 10 * $vp;
				}
				span{
					display: block;
					font-style: italic;
					font-size: 86 * $vp;
					margin-bottom: 5 * $vp;
				}
				small{
					display: block;
					text-align: right;
					font-size: 38 * $vp;
					margin-right: 1em;
				}
			}
			.achievement-boxMin{
				text-align: center;
				width: 50%;
				label{
					display: block;
					font-size: 20 * $vp;
					margin-bottom: 10 * $vp;
				}
				span{
					display: flex;
					align-items: flex-end;
					justify-content: center;
					font-family: $lato;
					font-style: italic;
					font-size: 57 * $vp;
					small{
						font-family: $gothic;
						font-size: 33 * $vp;
					}
				}
			}
			.achievement-line{
				font-size: 57 * $vp;
				display: flex;
				align-items: flex-end;
				justify-content: center;
				small{
					font-size: 43 * $vp;
				}
				b{
					font-size: 84 * $vp;
					font-style: italic;
					margin-right: 15 * $vp;
					font-family: $lato;
				}
				
			}
			.achievement-time{
				text-align: center;
				margin-bottom: 15 * $vp;
				&:last-child{
					margin-bottom: 0;
				}
				p{
					margin-top: 5 * $vp;
				}
			}
		}
		h2{
			font-size: 18 * $vp;
			border: 1px solid #fff;
			height: 60 * $vp;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			line-height: 1.2;
			padding: 0 30 * $vp;
			width: 210 * $vp;
			margin: 0 auto 40 * $vp auto;
			&.is-long{
				width: 300 * $vp;
			}
			+ .achievement-time{
				margin-top: -20 * $vp;
			}
		}
	}
	.recruitApplication{
		padding: 80 * $vp 20 * $vp 255 * $vp 20 * $vp;
		.recruitApplication__inner{
			padding: 0;
			margin: 0 -20 * $vp;
		}
		.application-list{
			display: flex;
			justify-content: space-between;
			margin: 0 -10 * $vp;
			li{
				width: calc(100% / 3 - #{20 * $vp});
				background: $color-blue;
				color: #fff;
				padding: 50 * $vp 20 * $vp 140 * $vp 20 * $vp;
				position: relative;
				margin: 0 10 * $vp;
				text-align: center;
				display: flex;
				flex-direction:column;
				align-items: center;
				justify-content: center;
			}
			label{
				font-size: 20 * $vp;
				font-weight: 700;
			}
			h2{
				margin-top: 20 * $vp;
				font-size: 36 * $vp;
				color: $color-orange;
				font-weight: 700;
				margin-bottom: 40 * $vp;
			}
			h3{
				width: 180 * $vp;
				height: 60 * $vp;
				border: 1px solid #fff;
				font-size: 28 * $vp;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto 15 * $vp auto;
			}
			p{
				font-size: 20 * $vp;
				line-height: 1.5;
				strong{
					display: block;
					font-size: 28 * $vp;
					margin-bottom: 10 * $vp;
				}
			}
			.application-btn{
				width: 260 * $vp;
				height: 155 * $vp;
				position: absolute;
				bottom: -60 * $vp;
				left: 0;
				right: 0;
				margin: auto;
				a{
					width: 100%;
					height: 120 * $vp;
					background: $color-orange;
					display: flex;
					flex-direction:column;
					align-items: center;
					justify-content: center;
					position: relative;
					font-size: 28 * $vp;
					font-weight: 700;
					text-align: center;
					color: $color-blue;
					span{
						position: relative;
						z-index:10;
						&:after{
							content:'';
				    		background: url('/assets/img/arrow-circle-b.svg') no-repeat;
				    		background-size: 100%;
				    		width: 41 * $vp;
				    		height: 41 * $vp;
				    		position: absolute;
				    		top: 40 * $vp;
				    		left: 0;
				    		right: 0;
				    		margin: auto;
				    	}
					}
					&:before{
						content:'';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 35 * $vp 130 * $vp 0 130 * $vp;
						border-color: #fbc924 transparent transparent transparent;
						position: absolute;
						bottom: -35 * $vp;
						left: 0;
						right: 0;
						margin: auto;
					}
					&:hover{
						text-decoration: none;
						opacity: 0.7;
					}
				}
			}
		}
	}
	.recruitCategory{
		color: #fff;
		.recruitCategory__header{
			position: relative;
			label{
				display: block;
				width: 775 * $vp;
				height: 150 * $vp;
				position: absolute;
				top: -55 * $vp;
				left: 0;
				right: 0;
				margin: auto;
				z-index:10;
			}
			.recruitCategory__headerInner{
				position: relative;
				.category__header-image{
					position: absolute;
				}
				.category__header-text{
					position: relative;
					padding:185 * $vp 0 200 * $vp 0;
				}
				.category__header-description{
					display: inline-flex;
					font-size: 24 * $vp;
					font-weight: 700;
					line-height: 1.5;
					padding: 15 * $vp;
					background: $color-blue;
					margin-bottom: 15 * $vp;
				}
				.category__header-application{
					display: inline-flex;
					background: $color-blue;
					padding: 15 * $vp;
					font-size: 18 * $vp;
				}
				h2{
					margin-bottom: 15 * $vp;
				}
			}
			&.is-header01{
				background: url('/assets/img/bg-category01.svg') no-repeat center bottom;
				background-size:cover;
				.category__header-image{
					top: 60 * $vp;
					right: 0;
					img{
						width: 745 * $vp;
						object-fit:cover;
						object-position:top center;
					}
				}
			}
			&.is-header02{
				background: url('/assets/img/bg-category02.svg') no-repeat center bottom;
				background-size:cover;
				.category__header-image{
					top: 130 * $vp;
					right: 30 * $vp;
					img{
						width: 745 * $vp;
						object-fit:cover;
						object-position:top center;
					}
				}
				.category__header-text{
					padding-top: 285 * $vp;
				}
			}
			&.is-header03{
				background: url('/assets/img/bg-category03.svg') no-repeat center top;
				background-size:cover;
				.category__header-image{
					top: 10 * $vp;
					right: 40 * $vp;
					img{
						width: 560 * $vp;
						object-fit:cover;
						object-position:top center;
					}
				}
				.category__header-text{
					padding-top: 270 * $vp;
				}
			}
		}
		.recruitCategory__body{
			background: $color-blue;
			position: relative;
			padding: 200 * $vp 0 165 * $vp 0;
			&:before{
				content:'';
				background: url('/assets/img/bg-recruit-tri.svg') no-repeat;
				background-size:cover;
				width: 100%;
				height: 360 * $vp;
				min-height:180 * $vp;
				position: absolute;
				top: -360 * $vp;
				left: 0;
				right: 0;
				margin: auto;
			}
			.recruitCategory__bodyInner{
				position: relative;
				padding: 0 60 * $vp;
			}
			.category-catch{
				font-size: 55 * $vp;
				font-weight: 700;
				line-height: 2;
				text-decoration: underline $color-orange;
				text-decoration-thickness: 4 * $vp;
				text-underline-offset:0.3em;
				display: flex;
				flex-direction:column;
				align-items: flex-end;
				position: absolute;
				top: -380 * $vp;
				left: 55%;
			}
		}
		.category__bodyList{
			display: flex;
			flex-wrap:wrap;
			li{
				width: 360 * $vp;
				margin: 0 10 * $vp;
				padding: 0 15 * $vp 10 * $vp 30 * $vp;
				margin-bottom: 40 * $vp;
				margin-right: 15 * $vp;
				position: relative;
				
				&.is-boderRight{
					border-right: 1px solid #fff
				}
				&.is-boderTop{
					padding-top: 40 * $vp;
					&:before{
						content:'';
						width: calc(100% - #{30 * $vp});
						height: 1px;
						background: #fff;
						display: block;
						position: absolute;
						top: -20 * $vp;
						left: 0;
					}
				}
				i{
					display: block;
					width: 98 * $vp;
					height: 98 * $vp;
					border-radius:0 0 60 * $vp 0;
					background: #fff;
					color: $color-blue;
					font-family: $lato;
					font-size: 48 * $vp;
					font-weight: 700;
					font-style: italic;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 40 * $vp;
				}
				.list-description{
					font-size: 20 * $vp;
					margin-bottom: 20 * $vp;
				}
				h4{
					color: $color-orange;
					font-weight: 700;
					font-size: 24 * $vp;
					line-height: 1.4;
					margin-bottom: 20 * $vp;
				}
			}
			&.is-3col{
				margin: -15 * $vp -10 * $vp 100 * $vp -10 * $vp;
				li{
					&:first-child, &:nth-child(4){
						padding-left: 0;
					}
					&:nth-child(2), &:nth-child(5){
						width: 390 * $vp;
					}
					&:nth-child(3), &:nth-child(6){
						margin-right: 0;
					}
				}
			}
			&.is-2col{
				width: 880 * $vp;
				margin: 0 auto 100 * $vp auto;
				justify-content: center;
				li{
					width: 47%;
					padding-right: 50 * $vp;
					padding-left: 0;
					&:nth-child(even){
						padding-left: 30 * $vp;
						padding-right: 20 * $vp;
					}
				}
			}
		}
		.category-recruitment{
			width: 1030 * $vp;
			margin: 0 auto;
			padding: 90 * $vp 95 * $vp;
			background: #fff;
			color: #000;
			h3{
				text-align: center;
				width: 547 * $vp;
				height: 67 * $vp;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto 45 * $vp auto;
				color: #000;
				font-size: 32 * $vp;
				font-weight: 700;
				label{
					position: absolute;
				}
				span{
					position: relative;
					z-index:10;
				}
			}
			.recruitment-list{
				li{
					padding: 25 * $vp 0;
					border-bottom: 1px solid #000;
					display: flex;
					&:last-child{
						border-bottom: 0;
					}
					.list-label{
						font-size: 18 * $vp;
						width: 125 * $vp;
						height: 40 * $vp;
						background: $color-blue;
						color: #fff;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 50 * $vp;
						flex-shrink:0;
					}
					.list-text{
						line-height: 1.6;
						flex-grow:1;
						p{
							line-height: 1.6;
							padding-top: 7 * $vp;
							margin-bottom: 30 * $vp;
							&:last-child{
								margin-bottom: 0;
							}
						}
						h4{
							+ p{
								padding-left: 1em;
								margin-top: -5 * $vp;
							}
						}
					}
					
				}
			}
		}
	}
}
.recruitCta{
	padding-bottom: 180 * $vp;
	position: relative;
	width: 100%;
	height: 670 * $vp;
	&.type-A{
		.recruitCta__image{
			background: #F3F5F7;
			position: relative;
			width: 100%;
			height: 525 * $vp;
			figure{
				width: 1300 * $vp;
				height: 775 * $vp;
				margin: 0 auto;
				position: absolute;
				top: -250 * $vp;
				left: 0;
				right: 0;
				margin: auto;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit:cover;
				object-position:center top;
			}
		}
	}
	&.type-B{
		.recruitCta__image{
			background: #F3F5F7;
			position: relative;
			width: 100%;
			height: 465 * $vp;
			figure{
				width: 1040 * $vp;
				height: 545 * $vp;
				margin: 0 auto;
				position: absolute;
				top: -80 * $vp;
				left: 0;
				right: 0;
				margin: auto;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit:cover;
				object-position:center top;
			}
		}
		.recruitCta__inner{
			margin-top: -390 * $vp;
		}
	}
	&.type-C{
		.recruitCta__image{
			background: #F3F5F7;
			position: relative;
			width: 100%;
			height: 655 * $vp;
			figure{
				width: 1300 * $vp;
				height: 775 * $vp;
				margin: 0 auto;
				position: absolute;
				top: -120 * $vp;
				left: 0;
				right: 0;
				margin: auto;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit:cover;
				object-position:center top;
			}
		}
		+ .recruitCategory{
			margin-top: 300 * $vp;
		}
	}
	.recruitCta__inner{
		width: 845 * $vp;
		padding: 0 20 * $vp;
		margin: -425 * $vp auto 0 auto;
		position: relative;
		z-index:20;
	}
	.recruitCta__body{
		background: $color-blue;
		padding: 30 * $vp 70 * $vp;
		h2{
			margin-bottom: 20 * $vp;
			height: 88 * $vp;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			label{
				width: 365 * $vp;
				height: 88 * $vp;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				margin: auto;
				display: block;
				z-index:10;
			}
			span{
				position: relative;
				z-index:15;
				color: #FFF;
				background: $color-blue;
				font-weight: 700;
				padding: 0 10 * $vp;
				font-size: 18 * $vp;
			}
		}
	}
	.recruitCta-description{
		line-height: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		font-weight: 700;
		margin-bottom: 55 * $vp;
		span{
			display: inline-flex;
			font-size: 24 * $vp;
			color: #FFF;
			background: $color-blue;
			padding: 25 * $vp 35 * $vp;
			margin: 5 * $vp 0;
		}
	}
	.recruitCta-btn{
		display: flex;
		justify-content: space-between;
		margin-bottom: 30 * $vp;
		a{
			width: 315 * $vp;
		}
	}
	.recruitCta-tel{
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		label{
			width: 55 * $vp;
			height: 25 * $vp;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-blue;
			font-size: 12 * $vp;
			background: #FFF;
			border-radius:20 * $vp;
			margin-right: 15 * $vp;
		}
		a{
			font-size: 19 * $vp;
			color: #FFF;
			&:hover{
				text-decoration: none;
				color: $color-orange;
			}
		}
	}
	+ .recruitCategory{
		margin-top: 150 * $vp;
	}
}





















