.recruitLp{
	.recruitHead{
		position: relative;
		font-weight: 700;
		.recruitHead__image{
			@include mediaquery-md {
				position: absolute;
				width: 100%;
				height: 272 * $vp;
				top: 0;
				left: 0;
				z-index:-10;
				img{
					width: 100%;
					height: 272 * $vp;
					object-fit:cover;
					object-position:center top;
				}
			}
		}
		.recruitHead__content{
			display: flex;
			justify-content: center;
			position: relative;
			z-index:10;
			position: absolute;
			top: 200 * $vp;
			left: 0;
			right: 0;
			margin: auto;
			@include mediaquery-md {
				position: static;
				flex-direction:column;
			}
			.recruitHead-box{
				width: 50%;
				@include mediaquery-md {
					width: 100%;
					&:first-child{
						order:1;
						margin-top: -30 * $vp;
						z-index:-1;
					}
				}
				label{
					width: 96%;
					display: block;
					margin-bottom: 85 * $vp;
					margin-left: 50 * $vp;
					@include mediaquery-md {
						width: 290 * $vp;
						margin-bottom: 25 * $vp;
						position: absolute;
						top: 70 * $vp;
						left: 25 * $vp;
					}
				}
				.recruitHead-correct{
					width: 74%;
					min-width: 520 * $vp;
					background: $color-blue;
					padding: 50 * $vp 50 * $vp 30 * $vp 50 * $vp;
					display: block;
					@include mediaquery-md {
						width: 100%;
						min-width:initial;
						padding: 55 * $vp 55 * $vp 30 * $vp 55 * $vp;
						order:1;
					}
					.correct__inner{
						width: 420 * $vp;
						color: $color-orange;
						margin: 0 auto;
						@include mediaquery-md {
							width: 100%;
						}
					}
					.correct-area{
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
						@include mediaquery-md {
							margin-bottom: 15 * $vp;
						}
						li{
							width: 87 * $vp;
							height: 35 * $vp;
							display: flex;
							align-items: center;
							justify-content: center;
							color: $color-blue;
							background: #FFF;
							margin-bottom: 20 * $vp;
							@include mediaquery-md {
								width: 52 * $vp;
								height: 20 * $vp;
								font-size: 10 * $vp;
								margin: 7 * $vp;
							}
						}
					}
					a{
						color: $color-orange;
						display: block;
						position: relative;
						font-size: 19 * $vp;
						line-height: 1.6;
						@include mediaquery-md {
							font-size: 11 * $vp;
						}
						strong{
							font-size: 76 * $vp;
							display: block;
							margin-top: -15 * $vp;
							@include mediaquery-md {
								font-size: 43 * $vp;
								margin-top: -5 * $vp;
							}
						}
						&:after{
							content:'';
				    		background: url('/assets/img/arrow-circle.svg') no-repeat;
				    		background-size: 100%;
				    		width: 87 * $vp;
				    		height: 87 * $vp;
				    		display: block;
				    		position: absolute;
				    		right: 0;
				    		top: 0;
				    		bottom: 0;
				    		margin: auto;
				    		transition: .3s;
				    		@include mediaquery-md {
				    			width: 51 * $vp;
				    			height: 53 * $vp;
				    		}
						}
						&:hover{
							text-decoration: none;
							&:after{
								right: -20px;
							}
						}
					}
				}
				.recruitHead-description{
					width: 445 * $vp;
					margin: 0 auto;
					padding-top: 35 * $vp;
					@include mediaquery-md {
						width: 100%;
						padding: 180 * $vp 30 * $vp 0 30 * $vp;
					}
					.description-head{
						font-size: 20 * $vp;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						margin-bottom: 30 * $vp;
						&.is-sp{
							display: none;
						}
						@include mediaquery-md {
							font-size: 10 * $vp;
							margin-bottom: 6 * $vp;
							&.is-sp{
								display: flex;
							}
							&.is-pc{
								display: none;
							}
						}
						span{
							display: inline-flex;
							color: #FFF;
							background: $color-blue;
							padding: 6 * $vp 10 * $vp;
							margin: 5 * $vp 0;
						}
					}
					.description-main{
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						&.is-sp{
							display: none;
						}
						@include mediaquery-md {
							&.is-sp{
								display: flex;
							}
							&.is-pc{
								display: none;
							}
							&.is-pc{
								display: none;
							}
						}
						span{
							font-size: 56 * $vp;
							display: inline-flex;
							background: $color-orange;
							margin-bottom: 15 * $vp;
							padding: 15 * $vp 25 * $vp;
							color: $color-blue;
							@include mediaquery-md {
								font-size: 21 * $vp;
								padding: 5 * $vp 7 * $vp;
								margin-bottom: 6 * $vp;
							}
						}
					}
				}
			}
		}
		.header-spImg{
			display: none;
			@include mediaquery-md {
				display: block;
			}
		}
	}
	.recruitSpirit{
		background: url('/assets/img/bg-ourspirit.png') no-repeat center bottom;
		background-size: 100% auto;
		height: 1470 * $vp;
		padding: 165 * $vp 0 0 0;
		position: relative;
		font-weight: 700;
		@include mediaquery-md {
			height: auto;
			padding: 80 * $vp 0 280 * $vp 0;
			background-color: #E0E4E3;
		}
		h2{
			text-align: center;
			width: 981 * $vp;
			height: 144 * $vp;
			position: absolute;
			top: -50 * $vp;
			left: 0;
			right: 0;
			margin: auto;
			@include mediaquery-md {
				width: 100%;
				height: auto;
				padding: 0 20 * $vp;
				top: -25 * $vp;
			}
		}
		p{
			line-height: 2.3;
			font-size: 18 * $vp;
			margin-bottom: 40 * $vp;
		}
		.recruitSpirit-btn{
			width: 325 * $vp;
			@include mediaquery-md {
				width: 225 * $vp;
				margin: 0 auto;
			}
		}
		.recruitSpirit__image{
			width: 100%;
			img{
				width: 100%;
			}
		}
	}
	.recruitAchievement{
		background: $color-blue;
		color: #FFF;
		padding: 90 * $vp 0 265 * $vp 0;
		font-weight: 700;
		@include mediaquery-md {
			padding: 45 * $vp 0 80 * $vp 0;
		}
		.recruitAchievement__inner{
			display: flex;
			@include mediaquery-md {
				flex-direction: column;
			}
			.recruitAchievement-colL{
				width: 800 * $vp;
				padding-right: 35 * $vp;
				border-right: 1px solid #fff;
				@include mediaquery-md {
					width: 100%;
					padding-right: 0;
					border-right: 0;
					border-bottom: 1px solid #fff;
					padding-bottom: 35 * $vp;
				}
			}
			.recruitAchievement-colR{
				width: 500 * $vp;
				padding-left: 35 * $vp;
				@include mediaquery-md {
					width: 100%;
					padding-left: 0;
				}
			}
			.achievement-boxLarge{
				width: 100%;
				border-bottom: 1px solid #fff;
				padding: 40 * $vp 0 60 * $vp;
				margin-bottom: 40 * $vp;
				&.is-noMargin{
					padding-bottom: 0;
				}
				&.is-autoHeight{
					height: 400 * $vp;
					@include mediaquery-md {
						height: auto;
					}
				}
				&.is-noBorder{
					border-bottom: 0;
					padding-top: 30 * $vp;
					margin-bottom: 0;
					padding-bottom: 0;
				}
				p{
					text-align: center;
					font-size: 15 * $vp;
					margin-top: 15 * $vp;
				}
			}
			.achievement-boxSmall{
				width: 50%;
				padding: 30 * $vp 0 60 * $vp;
				@include mediaquery-md {
					width: 100%;
				}
				&:first-child{
					border-right: 1px solid #fff;
				}
			}
			.achievement-col{
				display: flex;
				@include mediaquery-md {
					flex-direction: column;
				}
				.achievement-box{
					width: calc(100% / 3);
					@include mediaquery-md {
						width: 100%;
						padding: 20 * $vp 0;
					}
				}
				&.is-flexMin{
					flex-direction: row;
					@include mediaquery-md {
						display: flex !important;
					}
				}
			}
			.achievement-colS{
				display: flex;
				@include mediaquery-md {
					flex-direction: column;
				}
			}
			.achievement-box{
				text-align: center;
				label{
					display: block;
					font-size: 24 * $vp;
					margin-bottom: 10 * $vp;
				}
				span{
					display: block;
					font-style: italic;
					font-size: 86 * $vp;
					margin-bottom: 5 * $vp;
				}
				small{
					display: block;
					text-align: right;
					font-size: 38 * $vp;
					margin-right: 1em;
				}
			}
			.achievement-boxMin{
				text-align: center;
				width: 50%;
				label{
					display: block;
					font-size: 20 * $vp;
					margin-bottom: 10 * $vp;
				}
				span{
					display: flex;
					align-items: flex-end;
					justify-content: center;
					font-family: $lato;
					font-style: italic;
					font-size: 57 * $vp;
					small{
						font-family: $gothic;
						font-size: 33 * $vp;
					}
				}
			}
			.achievement-line{
				font-size: 57 * $vp;
				display: flex;
				align-items: flex-end;
				justify-content: center;
				small{
					font-size: 43 * $vp;
				}
				b{
					font-size: 84 * $vp;
					font-style: italic;
					margin-right: 15 * $vp;
					font-family: $lato;
				}
				
			}
			.achievement-time{
				text-align: center;
				margin-bottom: 15 * $vp;
				&:last-child{
					margin-bottom: 0;
				}
				p{
					margin-top: 5 * $vp;
				}
			}
		}
		h2{
			font-size: 18 * $vp;
			border: 1px solid #fff;
			height: 60 * $vp;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			line-height: 1.2;
			padding: 0 30 * $vp;
			width: 210 * $vp;
			margin: 0 auto 40 * $vp auto;
			&.is-long{
				width: 300 * $vp;
			}
			+ .achievement-time{
				margin-top: -20 * $vp;
			}
		}
	}
	.recruitApplication{
		padding: 80 * $vp 20 * $vp 255 * $vp 20 * $vp;
		@include mediaquery-md {
			padding-bottom: 150 * $vp;
		}
		.recruitApplication__inner{
			padding: 0;
			margin: 0 -20 * $vp;
		}
		.application-list{
			display: flex;
			justify-content: space-between;
			margin: 0 -10 * $vp;
			@include mediaquery-md {
				flex-direction: column;
				margin: -40 * $vp 0;
			}
			li{
				width: calc(100% / 3 - #{20 * $vp});
				background: $color-blue;
				color: #fff;
				padding: 50 * $vp 20 * $vp 140 * $vp 20 * $vp;
				position: relative;
				margin: 0 10 * $vp;
				text-align: center;
				display: flex;
				flex-direction:column;
				align-items: center;
				justify-content: center;
				@include mediaquery-md {
					width: 100%;
					margin: 40 * $vp 0;
					padding-bottom: 110 * $vp;
				}
			}
			label{
				font-size: 20 * $vp;
				font-weight: 700;
			}
			h2{
				margin-top: 20 * $vp;
				font-size: 36 * $vp;
				color: $color-orange;
				font-weight: 700;
				margin-bottom: 40 * $vp;
				@include mediaquery-md {
					font-size: 28 * $vp;
				}
			}
			h3{
				width: 180 * $vp;
				height: 60 * $vp;
				border: 1px solid #fff;
				font-size: 28 * $vp;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto 15 * $vp auto;
				@include mediaquery-md {
					font-size: 22 * $vp;
					width: 140 * $vp;
					height: 45 * $vp;
				}
			}
			p{
				font-size: 20 * $vp;
				line-height: 1.5;
				@include mediaquery-md {
					font-size: 18 * $vp;
				}
				strong{
					display: block;
					font-size: 28 * $vp;
					margin-bottom: 10 * $vp;
					@include mediaquery-md {
						font-size: 22 * $vp;
					}
				}
			}
			.application-btn{
				width: 260 * $vp;
				height: 155 * $vp;
				position: absolute;
				bottom: -60 * $vp;
				left: 0;
				right: 0;
				margin: auto;
				@include mediaquery-md {
					width: 210 * $vp;
					bottom: -75 * $vp;
				}
				a{
					width: 100%;
					height: 120 * $vp;
					background: $color-orange;
					display: flex;
					flex-direction:column;
					align-items: center;
					justify-content: center;
					position: relative;
					font-size: 28 * $vp;
					font-weight: 700;
					text-align: center;
					color: $color-blue;
					@include mediaquery-md {
						height: 100 * $vp;
						font-size: 22 * $vp;
					}
					span{
						position: relative;
						z-index:10;
						&:after{
							content:'';
				    		background: url('/assets/img/arrow-circle-b.svg') no-repeat;
				    		background-size: 100%;
				    		width: 41 * $vp;
				    		height: 41 * $vp;
				    		position: absolute;
				    		top: 40 * $vp;
				    		left: 0;
				    		right: 0;
				    		margin: auto;
				    		@include mediaquery-md {
				    			width: 33 * $vp;
				    			height: 33 * $vp;
				    		}
				    	}
					}
					&:before{
						content:'';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 30 * $vp 105 * $vp 0 105 * $vp;
						border-color: #fbc924 transparent transparent transparent;
						position: absolute;
						bottom: -30 * $vp;
						left: 0;
						right: 0;
						margin: auto;
					}
					&:hover{
						text-decoration: none;
						opacity: 0.7;
					}
				}
			}
		}
	}
	.recruitCategory{
		color: #fff;
		.recruitCategory__header{
			position: relative;
			label{
				display: block;
				width: 775 * $vp;
				height: 150 * $vp;
				position: absolute;
				top: -55 * $vp;
				left: 0;
				right: 0;
				margin: auto;
				z-index:10;
				@include mediaquery-md {
					width: 315 * $vp;
					height: 61 * $vp;
					top: -30 * $vp;
				}
			}
			.recruitCategory__headerInner{
				position: relative;
				.category__header-image{
					position: absolute;
				}
				.category__header-text{
					position: relative;
					padding:185 * $vp 0 200 * $vp 0;
					z-index:10;
					@include mediaquery-md {
						padding: 220 * $vp 0 0 0;
						margin-bottom: -100 * $vp;
					}
				}
				.category__header-description{
					display: inline-flex;
					font-size: 24 * $vp;
					font-weight: 700;
					line-height: 1.5;
					padding: 15 * $vp;
					background: $color-blue;
					margin-bottom: 15 * $vp;
					@include mediaquery-md {
						font-size: 18 * $vp;
					}
				}
				.category__header-application{
					display: inline-flex;
					background: $color-blue;
					padding: 15 * $vp;
					font-size: 18 * $vp;
					@include mediaquery-md {
						font-size: 13 * $vp;
					}
				}
				h2{
					margin-bottom: 15 * $vp;
					@include mediaquery-md {
						width: 90%;
					}
				}
			}
			&.is-header01{
				background: url('/assets/img/bg-category01.svg') no-repeat center bottom;
				background-size:cover;
				.category__header-image{
					top: 60 * $vp;
					right: 0;
					@include mediaquery-md {
						width: 260 * $vp;
						top: 20 * $vp;
						left: 0;
						right: 0;
						margin: auto;
					}
					img{
						width: 745 * $vp;
						object-fit:cover;
						object-position:top center;
						@include mediaquery-md {
							width: 260 * $vp;
							height: 410 * $vp;
						}
					}
				}
			}
			&.is-header02{
				background: url('/assets/img/bg-category02.svg') no-repeat center bottom;
				background-size:cover;
				.category__header-image{
					top: 130 * $vp;
					right: 30 * $vp;
					@include mediaquery-md {
						width: 295 * $vp;
						top: 70 * $vp;
						left: 0;
						right: 0;
						margin: auto;
					}
					img{
						width: 745 * $vp;
						object-fit:cover;
						object-position:top center;
						@include mediaquery-md {
							width: auto;
							height: 355 * $vp;
						}
					}
				}
				.category__header-text{
					padding-top: 285 * $vp;
				}
			}
			&.is-header03{
				background: url('/assets/img/bg-category03.svg') no-repeat center top;
				background-size:cover;
				.category__header-image{
					top: 10 * $vp;
					right: 40 * $vp;
					@include mediaquery-md {
						left: 0;
						right: 0;
						margin: auto;
						width: 240 * $vp;
						height: 380 * $vp;
					}
					img{
						width: 560 * $vp;
						object-fit:cover;
						object-position:top center;
						@include mediaquery-md {
							width: 240 * $vp;
							height: 380 * $vp;
						}
					}
				}
				.category__header-text{
					padding-top: 270 * $vp;
					@include mediaquery-md {
						padding-top: 230 * $vp;
					}
				}
			}
		}
		.recruitCategory__body{
			background: $color-blue;
			position: relative;
			padding: 200 * $vp 0 165 * $vp 0;
			@include mediaquery-md {
				padding-top: 120 * $vp;
			}
			&:before{
				content:'';
				background: url('/assets/img/bg-recruit-tri.svg') no-repeat;
				background-size:cover;
				width: 100%;
				height: 360 * $vp;
				min-height:180 * $vp;
				position: absolute;
				top: -360 * $vp;
				left: 0;
				right: 0;
				margin: auto;
				@include mediaquery-md {
					height: 50 * $vp;
					min-height: initial;
					top: -50 * $vp;
				}
			}
			.recruitCategory__bodyInner{
				position: relative;
				padding: 0 60 * $vp;
				@include mediaquery-md {
					padding: 0 45 * $vp;
				}
			}
			.category-catch{
				font-size: 55 * $vp;
				font-weight: 700;
				line-height: 2;
				text-decoration: underline $color-orange;
				text-decoration-thickness: 4 * $vp;
				text-underline-offset:0.3em;
				display: flex;
				flex-direction:column;
				align-items: flex-end;
				position: absolute;
				top: -380 * $vp;
				left: 55%;
				@include mediaquery-md {
					position: static;
					font-size: 25 * $vp;
					align-items: flex-start;
					margin-bottom: 45 * $vp;
				}
			}
		}
		.category__bodyList{
			display: flex;
			flex-wrap:wrap;
			@include mediaquery-md {
				margin-top: -40 * $vp;
			}
			li{
				width: 360 * $vp;
				margin: 0 10 * $vp;
				padding: 0 15 * $vp 10 * $vp 30 * $vp;
				margin-bottom: 40 * $vp;
				margin-right: 15 * $vp;
				position: relative;
				@include mediaquery-md {
					width: 100%;
					padding: 40 * $vp 0;
					border-bottom: 1px solid #fff;
					margin-bottom: 0;
				}
				&.is-boderRight{
					border-right: 1px solid #fff;
					@include mediaquery-md {
						border-right: 0;
					}
				}
				&.is-boderTop{
					padding-top: 40 * $vp;
					@include mediaquery-md {}
					&:before{
						content:'';
						width: calc(100% - #{30 * $vp});
						height: 1px;
						background: #fff;
						display: block;
						position: absolute;
						top: -20 * $vp;
						left: 0;
						@include mediaquery-md {
							display: none;
						}
					}
				}
				i{
					display: block;
					width: 98 * $vp;
					height: 98 * $vp;
					border-radius:0 0 60 * $vp 0;
					background: #fff;
					color: $color-blue;
					font-family: $lato;
					font-size: 48 * $vp;
					font-weight: 700;
					font-style: italic;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 40 * $vp;
					@include mediaquery-md {
						width: 74 * $vp;
						height: 74 * $vp;
						font-size: 35 * $vp;
						padding-right: 10 * $vp;
						padding-bottom: 10 * $vp;
						margin-bottom: 30 * $vp;
					}
				}
				.list-description{
					font-size: 20 * $vp;
					margin-bottom: 20 * $vp;
					@include mediaquery-md {
						font-size: 15 * $vp;
					}
				}
				h4{
					color: $color-orange;
					font-weight: 700;
					font-size: 24 * $vp;
					line-height: 1.4;
					margin-bottom: 20 * $vp;
					@include mediaquery-md {
						font-size: 18 * $vp;
					}
				}
			}
			&.is-3col{
				margin: -15 * $vp -10 * $vp 100 * $vp -10 * $vp;
				li{
					&:first-child, &:nth-child(4){
						padding-left: 0;
					}
					&:nth-child(2), &:nth-child(5){
						width: 390 * $vp;
					}
					&:nth-child(3), &:nth-child(6){
						margin-right: 0;
					}
				}
			}
			&.is-2col{
				width: 880 * $vp;
				margin: 0 auto 100 * $vp auto;
				justify-content: center;
				@include mediaquery-md {
					width: 100%;
				}
				li{
					width: 47%;
					padding-right: 50 * $vp;
					padding-left: 0;
					@include mediaquery-md 
					width: 100%;
					padding-right: 0;
					&:nth-child(even){
						padding-left: 30 * $vp;
						padding-right: 20 * $vp;
						@include mediaquery-md {
							padding-right: 0;
							padding-left: 0;
						}
					}
				}
			}
		}
		.category-recruitment{
			width: 1030 * $vp;
			margin: 0 auto;
			padding: 90 * $vp 95 * $vp;
			background: #fff;
			color: #000;
			@include mediaquery-md {
				width: calc(100% + #{30 * $vp});
				padding: 40 * $vp 20 * $vp;
				margin: 0 -15 * $vp;
			}
			h3{
				text-align: center;
				width: 547 * $vp;
				height: 67 * $vp;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto 45 * $vp auto;
				color: #000;
				font-size: 32 * $vp;
				font-weight: 700;
				@include mediaquery-md {
					width: 285 * $vp;
					height: 35 * $vp;
					font-size: 24 * $vp;
				}
				label{
					position: absolute;
				}
				span{
					position: relative;
					z-index:10;
				}
			}
			.recruitment-list{
				li{
					padding: 25 * $vp 0;
					border-bottom: 1px solid #000;
					display: flex;
					@include mediaquery-md {
						flex-direction: column;
					}
					&:last-child{
						border-bottom: 0;
					}
					.list-label{
						font-size: 18 * $vp;
						width: 125 * $vp;
						height: 40 * $vp;
						background: $color-blue;
						color: #fff;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 50 * $vp;
						flex-shrink:0;
						@include mediaquery-md {
							margin: 0 auto 15 * $vp auto;
						}
					}
					.list-text{
						line-height: 1.6;
						flex-grow:1;
						p{
							line-height: 1.6;
							padding-top: 7 * $vp;
							margin-bottom: 30 * $vp;
							@include mediaquery-md {
								font-size: 14 * $vp;
							}
							&:last-child{
								margin-bottom: 0;
							}
						}
						h4{
							+ p{
								padding-left: 1em;
								margin-top: -5 * $vp;
							}
						}
					}
					
				}
			}
		}
	}
	.recruitVoice{
		padding-top: 100 * $vp;
		padding-bottom: 225 * $vp;
		@include mediaquery-md {
			padding-bottom: 115 * $vp;
		}
		h2{
			padding: 0 20 * $vp;
			height: 150 * $vp;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 33 * $vp;
			font-weight: 700;
			@include mediaquery-md {
				height: 81 * $vp;
				font-size: 16 * $vp;
			}
			label{
				width: 558 * $vp;
				height: 150 * $vp;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				margin: auto;
				@include mediaquery-md {
					width: 284 * $vp;
					height: 81 * $vp;
				}
			}
			span{
				width: 320 * $vp;
				background: $color-blue;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto;
				color: #FFF;
				position: relative;
				z-index:10;
				@include mediaquery-md {
					width: 160 * $vp;
				}
			}
		}
		.recruitVoice-description{
			font-size: 28 * $vp;
			font-weight: 700;
			text-align: center;
			margin-top: -30 * $vp;
			margin-bottom: 75 * $vp;
			position: relative;
			z-index:10;
			@include mediaquery-md {
				font-size: 13 * $vp;
				margin-top: -10 * $vp;
			}
		}
		.recruitVoice__staff{
			padding-bottom: 60 * $vp;
			.staff-list{
				display: flex;
				flex-wrap: wrap;
				li{
					width: 50%;
					margin-bottom: 75 * $vp;
					@include mediaquery-md {
						width: 100%;
						margin-bottom: 45 * $vp;
					}
				}
				.staff-image{}
				.staff-text{
					width: 61.5%;
					margin: -185 * $vp auto 0 auto;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					@include mediaquery-md {
						width: 100%;
						padding: 0 20 * $vp;
						margin-top: -170 * $vp;
					}
				}
				.staff-name{
					display: inline-flex;
					color: #FFF;
					background: $color-blue;
					padding: 7 * $vp;
					font-weight: 700;
					font-size: 20 * $vp;
					margin-bottom: 12 * $vp;
					@include mediaquery-md {
						font-size: 16 * $vp;
					}
				}
				.staff-position{
					display: inline-flex;
					color: #FFF;
					background: $color-blue;
					padding: 10 * $vp;
					font-weight: 700;
					font-size: 38 * $vp;
					margin-bottom: 40 * $vp;
					@include mediaquery-md {
						font-size: 31 * $vp;
					}
				}
				.staff-catch{
					text-decoration: underline $color-orange;
					text-decoration-thickness: 4 * $vp;
					text-underline-offset:0.2em;
					font-size: 38 * $vp;
					line-height: 1.8;
					font-weight: 700;
					margin-bottom: 40 * $vp;
					@include mediaquery-md {
						font-size: 30 * $vp;
						text-underline-offset:0.5em;
					}
				}
			}
		}
		.recruitVoice__about{
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include mediaquery-md {
				flex-direction: column;
			}
			.about-image{
				width: 625 * $vp;
				@include mediaquery-md {
					width: 100%;
					padding: 0 30 * $vp;
					margin-bottom: 50 * $vp;
				}
			}
			.about-text{
				width: 395 * $vp;
				@include mediaquery-md {
					width: 100%;
				}
			}
			h3{
				font-size: 30 * $vp;
				line-height: 1.6;
				font-weight: 700;
				margin-bottom: 40 * $vp;
				@include mediaquery-md {
					font-size: 24 * $vp;
				}
			}
		}
	}
	.recruitChallenge{
		position: relative;
		.recruitChallenge__header{
			height: 875 * $vp;
			@include mediaquery-md {
				height: 235 * $vp;
			}
			figure{
				width: 100%;
				height: 875 * $vp;
				position: absolute;
				top: 0;
				left: 0;
				@include mediaquery-md {
					height: 235 * $vp;
				}
				img{
					width: 100%;
					height: 875 * $vp;
					object-fit:cover;
					object-position:center bottom;
					@include mediaquery-md {
						height: 235 * $vp;
					}
				}
			}
			h2{
				width: 1052 * $vp;
				height: 147 * $vp;
				position: absolute;
				top: -65 * $vp;
				left: 0;
				right: 0;
				margin: auto;
				z-index:10;
				@include mediaquery-md {
					width: 281 * $vp;
					height: 40 * $vp;
					top: -25 * $vp;
				}
			}
			.header-description{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				position: absolute;
				top: 175 * $vp;
				left: 47%;
				z-index:10;
				@include mediaquery-md {
					top: 40 * $vp;
					left: auto;
					right: 65 * $vp;
				}
				span{
					display: inline-flex;
					color: #FFF;
					font-size: 35 * $vp;
					background: $color-blue;
					font-weight: 700;
					padding: 10 * $vp 20 * $vp;
					margin-bottom: 30 * $vp;
					@include mediaquery-md {
						font-size: 10 * $vp;
						margin-bottom: 6 * $vp;
						padding: 5 * $vp 10 * $vp;
					}
				}
			}
		}
		.recruitChallenge__body{
			background: $color-blue;
			padding: 185 * $vp 0 110 * $vp 0;
			position: relative;
			color: #FFF;
			@include mediaquery-md {
				padding: 80 * $vp 0 60 * $vp 0;
			}
			.challenge-block{
				margin-bottom: 130 * $vp;
				h3{
					text-align: center;
					font-size: 38 * $vp;
					font-weight: 700;
					text-decoration: underline $color-orange;
					text-decoration-thickness: 4 * $vp;
					text-underline-offset:0.4em;
					display: flex;
					flex-direction: column;
					margin-bottom: 40 * $vp;
					@include mediaquery-md {
						font-size: 18 * $vp;
						text-underline-offset:0.6em;
					}
					label{
						margin-bottom: 30 * $vp;
						@include mediaquery-md {
							margin-bottom: 20 * $vp;
							img{
								width: auto;
								height: 30 * $vp;
							}
						}
					}
				}
				p{
					width: 525 * $vp;
					margin: 0 auto 30 * $vp auto;
					@include mediaquery-md {
						width: 100%;
						padding: 0 30 * $vp;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			.challenge-img{
				position: absolute;
				&.challenge-image01{
					width: 18%;
					top: -95 * $vp;
					left: 8%;
				}
				&.challenge-image02{
					width: 28%;
					top: -142 * $vp;
					right: 0;
				}
				&.challenge-image03{
					width: 25%;
					top: 516 * $vp;
					left: 0;
				}
				&.challenge-image04{
					width: 11%;
					top: 600 * $vp;
					right: 12%;
				}
				&.challenge-image05{
					width: 21%;
					top: 1000 * $vp;
					left: 6%;
				}
				&.challenge-image06{
					width: 20%;
					top: 940 * $vp;
					right: 0;
				}
			}
			.challenge-sv{
				text-align: center;
				margin-top: -50 * $vp;
				margin-bottom: 170 * $vp;
				@include mediaquery-md {
					margin-bottom: 60 * $vp;
				}
				figcaption{
					margin-top: -110 * $vp;
					@include mediaquery-md {
						margin-top: -35 * $vp;
						img{
							width: auto;
							height: 42 * $vp;
						}
					}
				}
			}
			.chalenge-feature{
				display: flex;
				align-items: flex-start;
				flex-wrap: wrap;
				margin: 0 -12 * $vp;
				@include mediaquery-md {
					flex-direction: column;
					margin: 12 * $vp 0;
				}
				h3{
					font-size: 59 * $vp;
					font-weight: 700;
					text-decoration: underline $color-orange;
					text-decoration-thickness: 4 * $vp;
					text-underline-offset:0.4em;
					display: flex;
					flex-direction: column;
					margin-bottom: 40 * $vp;
					padding-right: 30px;
					@include mediaquery-md {
						font-size: 23 * $vp;
						padding-left: 30 * $vp;
					}
					label{
						margin-bottom: 30 * $vp;
						@include mediaquery-md {
							margin-bottom: 20 * $vp;
							img{
								width: 185 * $vp;
								height: auto;
							}
						}
					}
				}
				.feature-box{
					width: 50%;
					margin-bottom: 100 * $vp;
					margin-right: -12 * $vp;
					@include mediaquery-md {
						width: 100%;
						margin-right: 0;
						margin-bottom: 50 * $vp;
					}
					&:nth-child(even){
						margin-left: -12 * $vp;
						margin-top: -50 * $vp;
						margin-right: 0;
						@include mediaquery-md {
							margin-left: 0;
							margin-top: 0;
						}
					}
				}
				.feature-list{
					background: #FFF;
					border-radius:32 * $vp;
					display: flex;
					color: #000;
					box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.35);
					@include mediaquery-md {
						flex-direction: column;
					}
					.list-text{
						width: 50%;
						padding: 35 * $vp 25 * $vp;
						@include mediaquery-md {
							width: 100%;
						}
						i{
							text-align: center;
							display: block;
							font-size: 53 * $vp;
							font-weight: 700;
							font-family: $lato;
							font-style: italic;
							color: $color-orange;
							width: 65 * $vp;
							border-bottom: 8 * $vp solid $color-orange;
							padding-bottom: 10 * $vp;
							margin: 0 auto 30 * $vp auto;
						}
						h4{
							font-weight: 700;
							font-size: 20 * $vp;
							line-height: 1.5;
							margin-bottom: 40 * $vp;
							@include mediaquery-md {
								margin-bottom: 25 * $vp;
							}
						}
						p{
							font-size: 14 * $vp;
							line-height: 1.6;
						}
					}
					.list-image{
						width: 50%;
						@include mediaquery-md {
							width: 100%;
							img{
								width: 100%;
								height: 205 * $vp;
								object-fit:cover;
								object-position:center bottom;
							}
						}
					}
				}
			}
		}
	}
	.recruitNumbers{
		padding: 150 * $vp 0 0 0;
		@include mediaquery-md {
			padding-top: 75 * $vp;
		}
		h2{
			padding: 60 * $vp 20 * $vp 0 20 * $vp;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			font-size: 33 * $vp;
			font-weight: 700;
			margin-bottom: 80 * $vp;
			@include mediaquery-md {
				margin-bottom: 40 * $vp;
				padding-top: 0;
			}
			label{
				width: 868 * $vp;
				height: 145 * $vp;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				margin: auto;
				@include mediaquery-md {
					width: 326 * $vp;
					height: 54 * $vp;
				}
			}
			span{
				width: 320 * $vp;
				background: $color-blue;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto;
				color: #FFF;
				position: relative;
				z-index:10;
				margin-bottom: 30 * $vp;
				@include mediaquery-md {
					margin-top: 20 * $vp;
					margin-bottom: 15 * $vp;
					width: 160 * $vp;
					font-size: 16 * $vp;
				}
			}
			b{
				position: relative;
				z-index:10;
				font-size: 44 * $vp;
				@include mediaquery-md {
					font-size: 22 * $vp;
				}
			}
		}
		h3{
			font-size: 18 * $vp;
			display: inline-flex;
			background: $color-blue;
			text-align: center;
			color: #FFF;
			height: 40 * $vp;
			font-weight: 700;
			align-items: center;
			justify-content: center;
			min-width: 140 * $vp;
			padding: 0 15 * $vp;
			@include mediaquery-md {
				font-size: 10 * $vp;
				height: 25 * $vp;
				min-width: 86 * $vp;
			}
		}
		.recruitNumbers-description{
			font-size: 28 * $vp;
			font-weight: 700;
			text-align: center;
			margin-top: -30 * $vp;
			margin-bottom: 75 * $vp;
			position: relative;
			z-index:10;
		}
		.numbers-col{
			display: flex;
			flex-wrap: wrap;
			margin:0 -6 * $vp -6 * $vp -6 * $vp;
			.col-box{
				width: calc(100% / 4 - #{12 * $vp});
				min-height: 315 * $vp;
				margin: 6 * $vp;
				background: #F0F3F5;
				padding: 60 * $vp 10 * $vp 30 * $vp 10 * $vp;
				display: flex;
				flex-direction: column;
				align-items: center;
				@include mediaquery-md {
					width: calc(50% - #{12 * $vp});
					min-height: 200 * $vp;
					padding: 35 * $vp 10 * $vp;
				}
				.box-large{
					margin-top: 30 * $vp;
					font-weight: 700;
					font-size: 23 * $vp;
					@include mediaquery-md {
						font-size: 13 * $vp;
					}
					strong{
						font-family: $lato;
						font-style: italic;
						font-size: 97 * $vp;
						color: $color-blue;
						@include mediaquery-md {
							font-size: 56 * $vp;
						}
					}
					small{
						font-size: 11 * $vp;
						display: block;
						margin-top: 10 * $vp;
						text-align: center;
						font-weight: 400;
					}
				}
				.box-flat{
					display: flex;
					margin: 50 * $vp -10 * $vp 0 -10 * $vp;
					font-size: 20 * $vp;
					font-weight: 700;
					@include mediaquery-md {
						margin-top: 30 * $vp;
					}
					.flat-box{
						width: calc(50% - #{20 * $vp});
						text-align: center;
						margin: 0 10 * $vp;
					}
					strong{
						font-family: $lato;
						font-style: italic;
						font-size: 58 * $vp;
						color: $color-blue;
						@include mediaquery-md {
							font-size: 34 * $vp;
						}
					}
					span{
						display: block;
						text-align: center;
						margin-top: 10 * $vp;
						@include mediaquery-md {
							font-size: 11 * $vp;
						}
					}
				}
				.box-list{
					width: 150 * $vp;
					margin-top: 20 * $vp;
					font-weight: 700;
					font-size: 20 * $vp;
					line-height: 1.6;
					@include mediaquery-md {
						width: 90 * $vp;
						font-size: 11 * $vp;
					}
					dl{
						display: flex;
						justify-content: space-between;
					}
					
				}
			}
			
		}
		.numbers-block{
			background: #F0F3F5;
			margin: 12 * $vp 0;
			padding: 60 * $vp 50 * $vp;
			height: 500 * $vp;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@include mediaquery-md {
				width: 100%;
				height: auto;
			}
			h3{
				width: 270 * $vp;
				@include mediaquery-md {
					width: 205 * $vp;
				}
			}
		}
		.number-ranking{
			width: 800 * $vp;
			font-weight: 700;
			margin:40 * $vp 0 -20 * $vp 0;
			@include mediaquery-md {
				width: 100%;
			}
			dl{
				display: flex;
				padding: 20 * $vp 0;
				font-size: 28 * $vp;
				@include mediaquery-md {
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					font-feature-settings: "palt";
				}
				&:first-child{
					font-size: 37 * $vp;
					padding-bottom: 35 * $vp;
					@include mediaquery-md {
						dd{
							font-size: 24 * $vp;
						}
					}
				}
				dt{
					width: 165 * $vp;
					flex-shrink: 0;
					@include mediaquery-md {
						width: 100%;
						font-size: 28 * $vp;
						margin-bottom: 15 * $vp;
					}
				}
				dd{
					flex-grow: 1;
					@include mediaquery-md {
						width: 100%;
						font-size: 18 * $vp;
						line-height: 1.4;
					}
				}
			}
		}
		.number-position{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			margin: 40 * $vp -12.5 * $vp 0 -12.5 * $vp;
			@include mediaquery-md {
				flex-direction: column;
				width: 245 * $vp;
				margin: 30 * $vp 0 0 0;
			}
			dl{
				width: calc(100% / 3 - #{25 * $vp});
				margin: 0 12.5 * $vp;
				padding: 20 * $vp 0;
				display: flex;
				align-items: center;
				border-bottom: 1px solid #707070;
				@include mediaquery-md {
					width: 100%;
					margin: 0;
					padding: 15 * $vp 0;
				}
				&.is-topBorder{
					border-top: 1px solid #707070;
					@include mediaquery-md {
						border-top: 0;
					}
				}
				dt{
					width: 220 * $vp;
					flex-shrink: 0;
					@include mediaquery-md {
						width: 190 * $vp;
						font-size: 12 * $vp;
					}
				}
				dd{
					flex-grow: 1;
					padding-right: 25 * $vp;
					font-size: 26 * $vp;
					font-weight: 700;
					color: $color-blue;
					text-align: right;
					@include mediaquery-md {
						font-size: 20 * $vp;
						padding-right: 7 * $vp;
					}
				}
			}
		}
	}
	.recruitFaq{
		padding-top: 60 * $vp;
		padding-bottom: 90 * $vp;
		h2{
			width: 100%;
			height: 170 * $vp;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 33 * $vp;
			font-weight: 700;
			position: relative;
			margin-bottom: 60 * $vp;
			@include mediaquery-md {
				height: 80 * $vp;
				font-size: 15 * $vp;
				margin-top: 30 * $vp;
				margin-bottom: 45 * $vp;
			}
			label{
				width: 362 * $vp;
				height: 170 * $vp;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				margin: auto;
				@include mediaquery-md {
					width: 171 * $vp;
					height: 80 * $vp;
				}
			}
			span{
				width: 320 * $vp;
				display: flex;
				align-items: center;
				justify-content: center;
				background: $color-blue;
				z-index:10;
				color: #fff;
				@include mediaquery-md {
					width: 160 * $vp;
				}
			}
		}
		dl{
			margin-bottom: 35 * $vp;
			background: $color-blue;
			color: #FFF;
			padding: 55 * $vp 80 * $vp;
			@include mediaquery-md {
				padding: 25 * $vp 15 * $vp;
			}
			&:last-child{
				margin-bottom: 0;
			}
			dt{
				display: flex;
				align-items: center;
				padding-bottom: 30 * $vp;
				border-bottom: 1px solid #fff;
				h3{
					font-size: 18 * $vp;
					font-weight: 700;
					line-height: 1.4;
					@include mediaquery-md {
						font-size: 14 * $vp;
					}
				}
			}
			dd{
				padding-top: 30 * $vp;
				display: flex;
				@include mediaquery-md {
					font-size: 14 * $vp;
				}
			}
			i{
				color: $color-blue;
				font-weight: 700;
				font-size: 30 * $vp;
				background: $color-orange;
				width: 60 * $vp;
				height: 60 * $vp;
				border-radius:50%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 50 * $vp;
				flex-shrink: 0;
				@include mediaquery-md {
					width: 36 * $vp;
					height: 36 * $vp;
					font-size: 16 * $vp;
					margin-right: 15 * $vp;
				}
			}
			p, h3{
				flex-grow: 1;
				@include mediaquery-md {
					line-height: 1.5;
				}
			}
		}
	}
	.recruitOffice{
		padding-bottom: 110 * $vp;
		h2{
			width: 320 * $vp;
			margin: 0 auto 35 * $vp auto;
			background: $color-blue;
			color: #FFF;
			font-weight: 700;
			font-size: 33 * $vp;
			text-align: center;
			@include mediaquery-md {
				width: 160 * $vp;
				font-size: 16 * $vp;
				margin-bottom: 20 * $vp;
			}
		}
		.recruitOffice-description{
			text-align: center;
			font-size: 33 * $vp;
			font-weight: 700;
			margin-bottom: 70 * $vp;
			@include mediaquery-md {
				font-size: 16 * $vp;
				margin-bottom: 40 * $vp;
			}
		}
		.office-list{
			display: flex;
			flex-wrap: wrap;
			margin: -55 * $vp;
			@include mediaquery-md {
				margin: -20 * $vp 0;
				padding: 0 20 * $vp;
			}
			li{
				width: calc(50% - #{110 * $vp});
				margin: 55 * $vp;
				@include mediaquery-md {
					width: 100%;
					margin: 20 * $vp 0;
				}
			}
		}
		h3{
			font-size: 33 * $vp;
			font-weight: 700;
			margin-bottom: 20 * $vp;
			@include mediaquery-md {
				font-size: 19 * $vp;
				margin-bottom: 15 * $vp;
			}
		}
		address{
			font-size: 20 * $vp;
			display: block;
			margin-bottom: 15 * $vp;
			line-height: 1.5;
			@include mediaquery-md {
				font-size: 11 * $vp;
			}
		}
		iframe{
			width: 100%;
			height: 340 * $vp;
			@include mediaquery-md {
				height: auto;
				aspect-ratio:4 / 3;
			}
		}
	}
}
.recruitCta{
	padding-bottom: 180 * $vp;
	position: relative;
	width: 100%;
	height: 670 * $vp;
	@include mediaquery-md {
		height: 265 * $vp;
	}
	&.type-A{
		.recruitCta__image{
			background: #F3F5F7;
			position: relative;
			width: 100%;
			height: 525 * $vp;
			@include mediaquery-md {
				height: 200 * $vp;
			}
			figure{
				width: 1300 * $vp;
				height: 775 * $vp;
				margin: 0 auto;
				position: absolute;
				top: -250 * $vp;
				left: 0;
				right: 0;
				margin: auto;
				@include mediaquery-md {
					width: auto;
					height: 200 * $vp;
					top: -80 * $vp;
				}
			}
			img{
				width: 100%;
				height: 100%;
				object-fit:cover;
				object-position:center top;
			}
		}
	}
	&.type-B{
		.recruitCta__image{
			background: #F3F5F7;
			position: relative;
			width: 100%;
			height: 465 * $vp;
			@include mediaquery-md {
				height: 295 * $vp;
			}
			figure{
				width: 1040 * $vp;
				height: 545 * $vp;
				margin: 0 auto;
				position: absolute;
				top: -80 * $vp;
				left: 0;
				right: 0;
				margin: auto;
				@include mediaquery-md {
					padding: 0 20 * $vp;
					width: auto;
					height: 150 * $vp;
					top: -30 * $vp;
				}
			}
			img{
				width: 100%;
				height: 100%;
				object-fit:cover;
				object-position:center top;
				@include mediaquery-md {
					height: 150 * $vp;
				}
			}
		}
		.recruitCta__inner{
			margin-top: -390 * $vp;
		}
	}
	&.type-C{
		.recruitCta__image{
			background: #F3F5F7;
			position: relative;
			width: 100%;
			height: 655 * $vp;
			@include mediaquery-md {
				height: 290 * $vp;
			}
			figure{
				width: 1300 * $vp;
				height: 775 * $vp;
				margin: 0 auto;
				position: absolute;
				top: -120 * $vp;
				left: 0;
				right: 0;
				margin: auto;
				@include mediaquery-md {
					width: auto;
					height: 200 * $vp;
					top: -80 * $vp;
					padding: 0 20 * $vp;
				}
			}
			img{
				width: 100%;
				height: 100%;
				object-fit:cover;
				object-position:center top;
				@include mediaquery-md {
					height: 200 * $vp;
				}
			}
		}
		.recruitCta__inner{
			@include mediaquery-md {
				margin-top: -250 * $vp;
			}
		}
		+ .recruitCategory{
			margin-top: 300 * $vp;
			@include mediaquery-md {
				margin-top: 170 * $vp;
			}
		}
	}
	&.type-D{
		margin-top: 390 * $vp;
		@include mediaquery-md {
			margin-top: 120 * $vp;
		}
		.recruitCta__image{
			background: #F3F5F7;
			position: relative;
			width: 100%;
			height: 495 * $vp;
			@include mediaquery-md {
				height: 240 * $vp;
			}
			figure{
				width: 1300 * $vp;
				height: 775 * $vp;
				margin: 0 auto;
				position: absolute;
				top: calc(#{495 * $vp} - #{775 * $vp});
				left: 0;
				right: 0;
				margin: auto;
				@include mediaquery-md {
					width: auto;
					height: 200 * $vp;
					top: -80 * $vp;
					padding: 0 20 * $vp;
				}
			}
			img{
				width: 100%;
				height: 100%;
				object-fit:cover;
				object-position:center top;
				@include mediaquery-md {
					height: 200 * $vp;
				}
			}
		}
		.recruitCta__inner{
			@include mediaquery-md {
				margin-top: -240 * $vp;
			}
		}
		.recruitCta__body{
			margin-top: 10 * $vp;
		}
	}
	.recruitCta__inner{
		width: 845 * $vp;
		padding: 0 20 * $vp;
		margin: -425 * $vp auto 0 auto;
		position: relative;
		z-index:20;
		@include mediaquery-md {
			width: 100%;
			margin-top: -170 * $vp;
		}
	}
	.recruitCta__body{
		background: $color-blue;
		padding: 30 * $vp 70 * $vp;
		@include mediaquery-md {
			padding: 20 * $vp;
			margin: 0 -20 * $vp;
		}
		h2{
			margin-bottom: 20 * $vp;
			height: 88 * $vp;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			@include mediaquery-md {
				height: 47 * $vp;
				margin-bottom: 15 * $vp;
			}
			label{
				width: 365 * $vp;
				height: 88 * $vp;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				margin: auto;
				display: block;
				z-index:10;
				@include mediaquery-md {
					width: 200 * $vp;
					height: 47 * $vp;
				}
			}
			span{
				position: relative;
				z-index:15;
				color: #FFF;
				background: $color-blue;
				font-weight: 700;
				padding: 0 10 * $vp;
				font-size: 18 * $vp;
				@include mediaquery-md {
					font-size: 10 * $vp;
					font-feature-settings: "palt";
					padding: 0 7.5 * $vp;
				}
			}
		}
	}
	.recruitCta-description{
		line-height: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		font-weight: 700;
		margin-bottom: 55 * $vp;
		@include mediaquery-md {
			margin-bottom: 30 * $vp;
		}
		span{
			display: inline-flex;
			font-size: 24 * $vp;
			color: #FFF;
			background: $color-blue;
			padding: 25 * $vp 35 * $vp;
			margin: 5 * $vp 0;
			@include mediaquery-md {
				font-size: 10 * $vp;
				padding: 10 * $vp 15 * $vp;
			}
		}
	}
	.recruitCta-btn{
		display: flex;
		justify-content: space-between;
		margin-bottom: 30 * $vp;
		@include mediaquery-md {
			margin-bottom: 15 * $vp;
		}
		a{
			width: 315 * $vp;
			@include mediaquery-md {
				width: 48%;
				&.size-mid{
					font-size: 11 * $vp;
					height: 40 * $vp;
					padding: 0 7.5 * $vp;
					span{
						font-feature-settings: "palt";
						&:after{
							width: 16 * $vp;
							height: 16 * $vp;
						}
					}
				}
			}
		}
	}
	.recruitCta-tel{
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		label{
			width: 55 * $vp;
			height: 25 * $vp;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-blue;
			font-size: 12 * $vp;
			background: #FFF;
			border-radius:20 * $vp;
			margin-right: 15 * $vp;
		}
		a{
			font-size: 19 * $vp;
			color: #FFF;
			&:hover{
				text-decoration: none;
				color: $color-orange;
			}
		}
	}
	+ .recruitCategory{
		margin-top: 150 * $vp;
	}
}
.recruitContact{
	background: $color-blue;
	padding: 165 * $vp 0 60 * $vp 0;
	color: #FFF;
	margin-bottom: 60 * $vp;
	@include mediaquery-md {
		padding: 80 * $vp 0 260 * $vp 0;
		margin-bottom: 0;
	}
	h2{
		width: 100%;
		height: 142 * $vp;
		margin: 0 auto;
		font-size: 33 * $vp;
		font-weight: 700;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		@include mediaquery-md {
			height: 51 * $vp;
			font-size: 16 * $vp;
		}
		label{
			width: 827 * $vp;
			height: 142 * $vp;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			@include mediaquery-md {
				width: 295 * $vp;
				height: 51 * $vp;
			}
		}
		span{
			position: relative;
			z-index:10;
			background: $color-blue;
			width: 320 * $vp;
			display: flex;
			align-items: center;
			justify-content: center;
			@include mediaquery-md {
				width: 160 * $vp;
			}
		}
	}
	h3{
		font-size: 33 * $vp;
		font-weight: 700;
		font-weight: 700;
		margin-top: -16 * $vp;
		text-align: center;
		position: relative;
		z-index:10;
		margin-bottom: 50 * $vp;
		@include mediaquery-md {
			font-size: 18 * $vp;
			margin-top: 10 * $vp;
		}
	}
	.contact-description{
		text-align: center;
		font-size: 22 * $vp;
		margin-bottom: 70 * $vp;
		line-height: 1.5;
		@include mediaquery-md {
			font-size: 14 * $vp;
			margin-bottom: 40 * $vp;
		}
	}
}
.recruitForm{
	dl{
		display: flex;
		align-items: center;
		padding: 20 * $vp 0;
		@include mediaquery-md {
			flex-direction: column;
			align-items: flex-start;
			padding: 17.5 * $vp 0;
		}
		dt{
			font-weight: 700;
			font-size: 20 * $vp;
			display: flex;
			width: 250 * $vp;
			justify-content: space-between;
			margin-right: 30 * $vp;
			flex-shrink: 0;
			@include mediaquery-md {
				font-size: 18 * $vp;
				width: 70%;
				margin-top: 0;
				margin-bottom: 15 * $vp;
			}
		}
		dd{
			flex-grow: 1;
			@include mediaquery-md {
				width: 100%;
			}
			p{
				margin-top: 15 * $vp;
				line-height: 1.6;
				@include mediaquery-md {
					font-size: 14 * $vp;
				}
			}
		}
		&.is-top{
			align-items: flex-start;
			margin-bottom: 20px;
			dt{
				padding-top: 20 * $vp;
			}
		}
	}
	.is-req{
		font-weight: 400;
	}
	input[type="text"], textarea{
		font-size: 18 * $vp;
		background: #FFF;
		padding: 15 * $vp;
		width: 100%;
		color: #000;
	}
	.form-select{
		overflow: hidden;
		width: 100%;
		position: relative;
		background: #FFF;
		select{
			width: 100%;
			cursor: pointer;
			text-overflow: ellipsis;
			border: none;
			outline: none;
			background: transparent;
			background-image: none;
			box-shadow: none;
			-webkit-appearance: none;
			appearance: none;
			padding: 15 * $vp;
			color: #000;
		}
		&:before{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 15 * $vp;
			margin: auto;
			width: 0;
			height: 0;
			padding: 0;
			content: '';
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 12px solid #000;
			pointer-events: none;
		}
	}
	.form-radio{
		display: flex;
		align-items: center;
		.mwform-radio-field{
			margin-right: 45 * $vp;
			input[type=radio] {
				appearance: none;
				display: none;
				+ span{
					position: relative;
					display: inline-flex;
					align-items: center;
					vertical-align: middle;
					cursor: pointer;
					font-weight: 700;
					&:before{
						content:'';
						width: 33 * $vp;
						height: 33 * $vp;
						border-radius:50%;
						background: #FFF;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 15 * $vp;
					}
				}
				&:checked{
					+ span{
						&:after{
							content:'';
							width: 16.5 * $vp;
							height: 16.5 * $vp;
							border-radius:50%;
							background: $color-blue;
							position: absolute;
							top: 0;
							left: 16.5 * $vp / 2;
							bottom: 0;
							margin: auto;
						}
					}
				}
			}
		}
	}
	.form-btn{
		margin-top: 60 * $vp;
		display: flex;
		align-items: center;
		justify-content: center;
		@include mediaquery-md {
			margin-top: 30 * $vp;
			flex-direction: column;
		}
		button, a{
			width: 315 * $vp;
			margin: 0 1em;
			@include mediaquery-md {
				width: 190 * $vp;
				margin: .5em 0;
				height: 56 * $vp;
				font-size: 17 * $vp;
			}
		}
	}
}

















